<div class="row">
    {% for galerie in galeries %}
        <div class="col-2">
            <div class="card">
                <img src="{{ vich_uploader_asset(galerie) }}" alt="{{ galerie.alt }}" class="card-img-top" >
                <div class="card-footer">
                    <p>
                        {{ galerie.name }}
                        <a class="img-orientation" href="{{ path('op_gestapp_eventgal_orientation', {'id': event.id, 'orientation':'portrait'}) }}"><i class="bi bi-file-image text-muted"></i></a>
                        <a class="img-orientation" href="{{ path('op_gestapp_eventgal_orientation', {'id': event.id, 'orientation':'paysage'}) }}"><i class="bi bi-image text-muted"></i></a>
                    </p>

                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
    {% endfor %}
</div>

