<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Créer le</th>
            <th>Modifier le</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><input type="checkbox"></td>
                <td><strong><a href="{{ path('op_webapp_article_edit', {'id': article.id}) }}">{{ article.title }}</a></strong><br><small>{{ article.slug }}</small></td>
                <td>{{ article.author}}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.category }}</td>
                <td>{{ article.createdAt ? article.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                <td>
                    <a href="{{ path('op_webapp_article_show', {'id': article.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('op_webapp_article_edit', {'id': article.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>