{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            function onClickBtnVerified(event){
                event.preventDefault();
                const url = this.href;                                          // variable qui récupère l'url inclus dans le "this"
                const icone = this.querySelector('i');
                axios
                    .get(url)
                    .then(function(response) {
                        if(icone.classList.contains('fa-check-circle')) {
                            icone.classList.replace('fa-check-circle', 'fa-times-circle');
                            icone.classList.replace('text-success', 'text-danger');
                        }
                        else {
                            icone.classList.replace('fa-times-circle', 'fa-check-circle');
                            icone.classList.replace('text-danger', 'text-success');
                        };
                    });
            }



            // Evènement sur le bouton js-verified
            document.querySelectorAll('a.js-verified').forEach(function (link){
                link.addEventListener('click', onClickBtnVerified);
            })

            // Modal suppr une ligne
            var Suppr = document.getElementById('Suppr')
            Suppr.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var a = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = a.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                var modalTitle = Suppr.querySelector('.modal-title')
                var modalText = Suppr.querySelector('.modal-text')
                var modalBodyInput = Suppr.querySelector('.modal-body input')

                modalTitle.textContent = "Suppression d'un évènement"
                modalBodyInput.value = recipient
                modalText.innerHTML = "Vous êtes sur le point de supprimer le membre sélectionné.<br><b>Etes-vous bien sur de vouloir continuer ?</b>"
            })

            // function Suppression de la ligne en cours
            function onClickDelEvent(event){
                //event.preventDefault()
                const id = document.getElementById('recipient-name').value
                axios
                    .post('/op_admin/member/del/'+ id)
                    .then(function(response)
                    {
                        const liste = document.getElementById('liste').innerHTML = response.data.liste;

                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };

                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }

            // Bouton de suppression de la ligne en cours
            document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                link.addEventListener('click', onClickDelEvent)
            })
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('admin/member/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('admin/member/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des membres</h4>
                        <p>Créer, Modifier ou supprimer des membre du site.</p>
                        <div id="liste">
                            {{ include('admin/member/include/_liste.html.twig') }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('op_admin_member_new') }}">Ajouter un nouveau membre</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
