{% extends 'admin.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // Transmission de la variable structure dans la modale
            var AddCollaborator = document.getElementById('AddCollaborator');
            AddCollaborator.addEventListener('show.bs.modal', function (event){
                var button = event.relatedTarget;
                var structure = button.getAttribute('data-bs-whatever');
                var modalTitle = AddCollaborator.querySelector('.modal-title');
                var formAction = AddCollaborator.querySelector('form');
                formAction.action = '/opadmin/collaborator/new/' + structure;
                modalTitle.textContent = 'Modifier le collaborateur a : ' + structure;

            });
        };
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('admin/structure/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                {{ include('admin/structure/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des structure : Entreprise, société, ...</h4>
                        <p>Créer, Modifier ou supprimer des membre du site.</p>
                        <div id="liste">
                            {{ include('admin/structure/include/_liste.html.twig') }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-primary" href="{{ path('op_admin_structure_new2') }}">Ajouter une nouvelle structure</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



{% endblock %}
