{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
    <script>
        window.onload = function(){
            ClassicEditor
                .create(document.querySelector('#event_description'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });

            // mise en place du datapicker flatpickr sur les champs de date
            flatpickr(".flatpickr", {
                "locale": "fr",
                enableTime: true,
                altFormat: "j F Y",
                dateFormat: "d/m/Y",
            });

            // mise en place du datapicker flatpickr sur les champs de date
            flatpickr(".flatpickrtime", {
                "locale": "fr",
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: true
            });
        }

        function supprimage(event){
            event.preventDefault()
            let url = this.href
            console.log(url)
        }

        // function definition de l'orientation de l'image
        function onClickimgOrient(event){
            event.preventDefault();
            const url = this.href;
            const icone = this.querySelector('i');
            axios
                .post(url)
                .then(function(response){
                    if(icone.classList.contains('text-muted')) {
                        icone.classList.replace('text-muted', 'text-primary');
                        icone.classList.replace('text-primary', 'text-muted');
                    };
                });
        }

        // Ajout d'un event sur le click portrait ou paysage
        document.querySelectorAll('a.img-orientation').forEach(function (link){
            link.addEventListener('click', onClickimgOrient);
        })

        // Ajout d'un event sur le click portrait ou paysage
        document.querySelectorAll('a.supprimg').forEach(function (link){
            link.addEventListener('click', supprimage);
        })

    </script>
{%  endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('gest_app/event/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-lg-2 col-xl-2 col-xxl-2">
                {{ include('gest_app/event/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-lg-10 col-xl-10 col-xxl-10">
                <div class="card">
                    <div class="card-header">
                        <h3>Modifier un évènement</h3>
                    </div>
                    <div class="card_body">
                        <div class="row g-1">
                            <div class="col-lg-5 col-xl-5 col-xxl-5">
                                <div class="card">
                                    {{ include('gest_app/event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                                </div>
                            </div>
                            <div class="col-lg-7 col-xl-7 col-xxl-7">
                                {% if app.request.get('_route') == 'op_gestapp_event_edit' %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                                                {{ render(controller('App\\Controller\\GestApp\\EventGalController::AddImageByEvent', {'idevent':event.id})) }}
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9">
                                                {% include 'gest_app/event_gal/showgalbyevent.html.twig' with galeries %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}