
<h1 style="">JUST à FAIRE</h1>
<p><b>Nouvelle Adhesion.</b></p>
<hr>
<p><strong>Une nouvelle demande d'adhésion au réseau "JUST à FAIRE" vous attend sur la plateforme.</strong></p>
<p>
    Voici quelques informations concernant le future membre :<br>
      - Nom de la société : {{ nameSociety }}<br>
      - Nom et prénom du demandeur : {{ firstName }} {{ lastName }}<br>
      - Contact : {{ phoneGSM }} / {{ phoneDesk }} / {{ Email }}
    Plus d'information sur le lien suivant : <a href="https://justafaire.fr/gestapp/adhesion/{{ id }}">Fiche d'adhésion</a>.
</p>