
<h1 style="">JUST à FAIRE</h1>
<p><b>Nouvelle invitation pour le prochain BUSINESS à FAIRE.</b></p>
<hr>
<p><strong>Une nouvelle demande de parrainage au réseau "JUST à FAIRE"a été émise par {{ author }}.</strong></p>
<p>
    Voici quelques informations concernant l'invitation' :<br>
      - Nom de la société : {{ nameSociety }}<br>
      - Nom et prénom : {{ firstName }} {{ lastName }}<br>
      - Contact : {{ phoneGSM }} / {{ phoneDesk }} / {{ parrainageEmail }}
</p>
